@use 'sass:color';
@use './custom-bootstrap' as cb;

$color-gray-600: #6c757d !default;

body {
  font-family: cb.$font-family-base;
  background-color: cb.$body-bg;
  color: $color-gray-600;
  margin: 0;
}

a {
  color: cb.$primary;
  text-decoration: none;

  &:hover {
    color: color.adjust(cb.$primary, $lightness: 15%)
  }
}