@use 'sass:color';
@use './../../../styles/custom-bootstrap' as *;

.login-wrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #006875, #54c1b1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);

  h3 {
    color: #ffffff;
    font-weight: 600;
  }

  .form-label {
    color: #ffffff;
  }

  .form-check-label,
  a {
    color: #f5f1ee;
  }

  .form-control {
    border-radius: 50rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease;

    &::placeholder {
      color: #f5f1ee;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.4);
      color: #fff;
    }
  }

  .btn-primary {
    background-color: $primary;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.adjust($primary, $lightness: -5%);
    }

    &:disabled {
      background-color: color.adjust($primary, $lightness: 10%);
      opacity: 0.8;
    }
  }
}