<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="brand d-flex align-items-center justify-content-center py-3">
    <img src="assets/images/logo.png" class="logo" alt="Logo" *ngIf="!isCollapsed">
    <img src="assets/images/logo.png" class="logo-icon" alt="Logo Icon" *ngIf="isCollapsed">
  </div>

  <ul class="nav flex-column">
    <li *ngFor="let item of menuItems" class="nav-item">
      <a class="nav-link d-flex align-items-center" [routerLink]="item.link">
        <i [class]="item.icon"></i>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <ng-container *ngIf="(user$ | async)">
    <div class="profile-section mt-auto p-3 d-flex align-items-center">
      <img
        [src]="profileImage$ | async"
        class="profile-img"
        *ngIf="isCollapsed"
        alt="Profile"
      />
      <div *ngIf="!isCollapsed" class="d-flex align-items-center">
        <img [src]="profileImage$ | async" class="profile-img me-2" alt="Profile" />
        <div>
          <div class="fw-bold">{{ displayName$ | async }}</div>
          <small class="text-muted">{{ roleLabel$ | async }}</small>
        </div>
      </div>
    </div>
  </ng-container>
</div>
