@use './styles/custom-bootstrap' as cb;
@use './styles/theme.scss' as th;

h1, h2, h3 {
  color: cb.$primary;
  font-weight: 700;
}

p {
  font-size: cb.$font-size-base;
  color: #555;
}

.btn-violet {
  background: linear-gradient(to right, cb.$violet-gradient-start, cb.$violet-gradient-end);
  border: none;
  color: cb.$color-surface;
  font-weight: 600;
  border-radius: cb.$border-radius;
  transition: background 0.3s ease;

  &:hover {
    background: linear-gradient(to right, cb.$violet-gradient-end, cb.$violet-gradient-start);
  }
}

.bg-gradient-violet {
  background: linear-gradient(to right, cb.$violet-gradient-start, cb.$violet-gradient-end);
  border-radius: cb.$border-radius;
}
